$max_width: 1200px;
$mobile-size: 900px;
$spacing: 10px;
$background_color: #f9f9f9;

$header-z-index: 999;


%container {
    flex: 1;
    max-width: $max_width;
    position: relative;
    display: flex;
    padding-left: $spacing;
    padding-right: $spacing;
    box-sizing: border-box;
}
